/* SETUP */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 800px;
    font-family: Arial, Helvetica, sans-serif;
}

/* APP  */

.app {
    width: 50%;
    height: 70%;
    padding: 3% 5% ;
    text-align: center;
    margin: 30px auto;
    background-color: rgba(165, 222, 255, 0.664);
    border-radius: 30px;
}

/* HEADER - TITOLI */

.header-list {
    width: 70%;
    text-align: center;
    display: flex;
    margin: auto;
    justify-content: space-between;
    margin-bottom: 6%;
    line-height: 50px;
}

.header-text {
    width: 30%;
    text-decoration: none;
    color: gray;
    transition: color 0.2s, border-bottom 0.08s, font-size 0.08s;
}

.header-text:hover {
    font-size: 18px;
    color: rgb(23, 23, 23);
    border-bottom: 1px solid black;
    
}


/* TODAY'S TASK E BUTTON ADD NEW TASK */

.tod-task {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 5%;
    
}

.mainTitle {
    font-size: 32px;
    margin-bottom: 15px;
    text-align: left;
    text-shadow: 2px 3px 4px rgba(0, 0, 0, 0.22);
}

.today-date {
    text-shadow: 2px 3px 4px rgba(0, 0, 0, 0.22);
    text-align: left;
    position: relative;
    top: -35px
}


.add-new-task {
    background-color: rgb(178, 200, 254);
    width: 25%;
    height: 30px; 
    color: rgb(0, 78, 214);
    letter-spacing: 0.2px;
    border-radius: 10px; 
    border: 0; 
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.add-new-task:hover {
    background-color: rgb(163, 185, 241);
    color: rgb(9, 88, 225);
}

h3 {
    margin-bottom: 12px;
}

.inputField {
    height: 30px;
    width: 100%;
    border: none;
    line-height: 30px;
    padding: 20px;
    font-size: 16px;
    margin-bottom: 15px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    transition: box-shadow .4s;
}


.inputField:hover {
    border: none;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

/* LISTA TO DO  */

/* TEMPLATE */

ul {
    width: 80%;
    margin: auto;
}


.templateLi {
    display: none;
    list-style: none;
    flex-direction: row;
    justify-content: space-between;
    
    margin-bottom: 3%;
    padding: 0px 70px 6px;
    border-bottom: 1px solid black;
    
    font-size: 18px;
}

.templateLi:last-child {
    border-bottom: 0;
}
